
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>添加管理员 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/admin/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.tools.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.validate.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/common.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/input.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <style type="text/css">
        .roles label {
            width: 150px;
            display: block;
            float: left;
            padding-right: 6px;
        }
    </style>
    <script type="text/javascript">
        $().ready(function() {

            var $inputForm = $("#inputForm");


            $.validator.addMethod("notAllNumber",
                function(value, element) {
                    return this.optional(element) || /^.*[^\d].*$/.test(value);
                },
                "不允许全部为数字"
            );

            // 表单验证
            $inputForm.validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 4,
                        pattern: /^[0-9a-zA-Z_\u4e00-\u9fa5]+$/,
                        notAllNumber: true,
                        remote: {
                            url: "check_username",
                            cache: false
                        }
                    },
                    password: {
                        required: true,
                        minlength: 4
                    },
                    rePassword: {
                        required: true,
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: "check_email",
                            cache: false
                        }
                    },
                    roleIds: "required"
                },
                messages: {
                    username: {
                        pattern: "非法字符",
                        remote: "已存在"
                    },
                    email: {
                        remote: "已存在"
                    }
                }
            });

        });
    </script>
</head>
<body>
<div class="breadcrumb">
    添加管理员
</div>
<form id="inputForm"  method="post">
    <ul id="tab" class="tab">
        <li>
            <input type="button" value="基本信息" />
        </li>
        <li>
            <input type="button" value="个人资料" />
        </li>
    </ul>
    <table class="input tabContent">
        <tr>
            <th>
                <span class="requiredField">*</span>用户名:
            </th>
            <td>
                <input type="text" name="username" v-model="admin.username" class="text" maxlength="20" />
            </td>
        </tr>
        <tr>
            <th>
                <span class="requiredField">*</span>密码:
            </th>
            <td>
                <input type="password" id="password" name="password" v-model="admin.encodedpassword" class="text" maxlength="20" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <th>
                <span class="requiredField">*</span>确认密码:
            </th>
            <td>
                <input type="password" name="rePassword"  class="text" maxlength="20" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <th>
                <span class="requiredField">*</span>E-mail:
            </th>
            <td>
                <input type="text" name="email" v-model="admin.email" class="text" maxlength="200" />
            </td>
        </tr>
        <!--<tr class="roles">
            <th>
                <span class="requiredField">*</span>角色:
            </th>
            <td>
					<span class="fieldSet">
							<label>
								<input type="checkbox" name="rolesId" v-model="admin.rolesId"  :value="1" />超级管理员
							</label>
					</span>
            </td>
        </tr>
        <tr>
            <th>
                设置:
            </th>
            <td>
                <label>
                    <input type="checkbox" name="isenabled" v-model="admin.isenabled" value="true" checked="checked" />是否启用
                    <input type="hidden" name="_isEnabled" v-model="admin.isenabled" value="false" />
                </label>
            </td>
        </tr>-->
    </table>
    <table class="input tabContent">
        <tr>
            <th>
                部门:
            </th>
            <td>
                <input type="text" name="department" v-model="admin.department" class="text" maxlength="200" />
            </td>
        </tr>
        <tr>
            <th>
                姓名:
            </th>
            <td>
                <input type="text" name="name" v-model="admin.name" class="text" maxlength="200" />
            </td>
        </tr>
    </table>
    <table class="input">
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input type="button" class="button" onclick="saveAdmin()" value="确 定" />
                <input type="button" class="button" value="返 回" onclick="history.back(); return false;" />
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    var addVue = new Vue({
        el:"#inputForm",
        data:{
                admin:{
                    department:'',
                    email:'',
                    encodedpassword:'',
                    name:'',
                    username:'',
                },

            }

    })

    saveAdmin =function () {
        $.ajax({
            url:"../../admin/saveAdmin.do",
            data:addVue.admin,
            type:"post",
            dataType:'json',
            success:function (data) {
                alert(data.message);
                location.href = "list.html"
            },
            error:function () {
                alert("新增失败")
            }
        })
    }
</script>
</body>
</html>