
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>管理员列表 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/admin/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/common.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/list.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
</head>
<body>
<div class="breadcrumb">
    管理员列表 <span>(共4条记录)</span>
</div>
<form id="listForm"  method="post">
    <div class="bar">
        <a href="add.html" class="iconButton">
            <span class="addIcon">&nbsp;</span>添加
        </a>
        <div class="buttonGroup">
            <a @click="delAdmin()"  class="iconButton">
                <span class="deleteIcon">&nbsp;</span>删除
            </a>
            <a href="javascript:;" onclick="refreshPage()" id="refreshButton" class="iconButton">
                <span class="refreshIcon">&nbsp;</span>刷新
            </a>
        </div>
        <div id="searchPropertyMenu" class="dropdownMenu">
            <div class="search">
                <span class="arrow">&nbsp;</span>
                <input type="text"  id="searchValue" name="username" value="" maxlength="200" />
                <button  onclick="searchAdmin()" type="button">&nbsp;</button>
            </div>
            <ul>
                <li val="name">名称</li>
            </ul>
        </div>
    </div>
    <table id="listTable" class="list">
        <tr>
            <th class="check">
                <input type="checkbox" id="selectAll" />
            </th>
            <th>
                <a href="javascript:;" class="sort" name="username">用户名</a>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="email">E-mail</a>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="name">姓名</a>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="department">部门</a>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="lastLoginIp">最后登录IP</a>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="lastLoginDate">最后登录日期</a>
            </th>
            <th>
                <span>状态</span>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="createdDate">创建日期</a>
            </th>
            <th>
                <span>操作</span>
            </th>
        </tr>
        <tr v-for="e in adminList">
            <td>
                <input type="checkbox" name="ids" v-model="ids" :value="e.admin.id" />
            </td>
            <td>
                {{e.admin.username}}
            </td>
            <td>
                {{e.admin.email}}
            </td>
            <td>
                {{e.admin.name}}
            </td>
            <td>
                {{e.admin.department}}
            </td>
            <td>
                {{e.users.lastloginip}}
            </td>
            <td>
                {{e.users.lastlogindate}}
            </td>
            <td>
                <span v-if="e.users.isenabled" class="green">启用</span>
                <span v-else class="red">禁用</span>
            </td>
            <td>
                {{e.users.createddate}}
            </td>
            <td>
                <a @click="edit(e.admin.id)">[编辑]</a>
            </td>
        </tr>
    </table>
    <input type="hidden" id="pageSize" name="pageSize" value="20" />
    <input type="hidden" id="searchProperty" name="searchProperty" value="" />
    <input type="hidden" id="orderProperty" name="orderProperty" value="" />
    <input type="hidden" id="orderDirection" name="orderDirection" value="" />
</form>
<script type="text/javascript">

    var vm;
    $.post("../../admin/queryAdmin.do",{page:1,rows:20},function (data) {
        vm = new Vue({
            el:"#listForm",
            data:{
                adminList:data.rows,
                ids:[]
            }
        })
    })

    searchAdmin = function () {
        $.post("../../admin/queryAdmin.do",{page:1,rows:20,username:$("#searchValue").val()},function (data) {
            vm.adminList=data.rows;
        })
    }

    edit = function (id) {
       location.href="edit.html?id="+id;
    }

    delAdmin = function () {
        var ids = vm.ids.join(",");
        if ( ids!= null && ids!="") {
            $.post("../../admin/delAdmin.do",{ids:ids},function (data) {
                alert(data.message)
                location.href=location;
            })
        }else {
            alert("请选择要删除的数据！！")
        }
    }
    function refreshPage() {
        location.href=location;
    }
    
</script>
</body>
</html>