<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.LeXiang.mapper.DefaultfreightconfigMapper" >
  <resultMap id="BaseResultMap" type="com.LeXiang.pojo.Defaultfreightconfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="createdDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="lastModifiedDate" property="lastmodifieddate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="continuePrice" property="continueprice" jdbcType="DECIMAL" />
    <result column="continueWeight" property="continueweight" jdbcType="INTEGER" />
    <result column="firstPrice" property="firstprice" jdbcType="DECIMAL" />
    <result column="firstWeight" property="firstweight" jdbcType="INTEGER" />
    <result column="shippingMethod_id" property="shippingmethodId" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, createdDate, lastModifiedDate, version, continuePrice, continueWeight, firstPrice, 
    firstWeight, shippingMethod_id, store_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.LeXiang.pojo.DefaultfreightconfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from defaultfreightconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from defaultfreightconfig
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from defaultfreightconfig
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.LeXiang.pojo.DefaultfreightconfigExample" >
    delete from defaultfreightconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.LeXiang.pojo.Defaultfreightconfig" >
    insert into defaultfreightconfig (id, createdDate, lastModifiedDate, 
      version, continuePrice, continueWeight, 
      firstPrice, firstWeight, shippingMethod_id, 
      store_id)
    values (#{id,jdbcType=BIGINT}, #{createddate,jdbcType=TIMESTAMP}, #{lastmodifieddate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{continueprice,jdbcType=DECIMAL}, #{continueweight,jdbcType=INTEGER}, 
      #{firstprice,jdbcType=DECIMAL}, #{firstweight,jdbcType=INTEGER}, #{shippingmethodId,jdbcType=BIGINT}, 
      #{storeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.LeXiang.pojo.Defaultfreightconfig" >
    insert into defaultfreightconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createddate != null" >
        createdDate,
      </if>
      <if test="lastmodifieddate != null" >
        lastModifiedDate,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="continueprice != null" >
        continuePrice,
      </if>
      <if test="continueweight != null" >
        continueWeight,
      </if>
      <if test="firstprice != null" >
        firstPrice,
      </if>
      <if test="firstweight != null" >
        firstWeight,
      </if>
      <if test="shippingmethodId != null" >
        shippingMethod_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createddate != null" >
        #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null" >
        #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="continueprice != null" >
        #{continueprice,jdbcType=DECIMAL},
      </if>
      <if test="continueweight != null" >
        #{continueweight,jdbcType=INTEGER},
      </if>
      <if test="firstprice != null" >
        #{firstprice,jdbcType=DECIMAL},
      </if>
      <if test="firstweight != null" >
        #{firstweight,jdbcType=INTEGER},
      </if>
      <if test="shippingmethodId != null" >
        #{shippingmethodId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.LeXiang.pojo.DefaultfreightconfigExample" resultType="java.lang.Integer" >
    select count(*) from defaultfreightconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update defaultfreightconfig
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createddate != null" >
        createdDate = #{record.createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastmodifieddate != null" >
        lastModifiedDate = #{record.lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.continueprice != null" >
        continuePrice = #{record.continueprice,jdbcType=DECIMAL},
      </if>
      <if test="record.continueweight != null" >
        continueWeight = #{record.continueweight,jdbcType=INTEGER},
      </if>
      <if test="record.firstprice != null" >
        firstPrice = #{record.firstprice,jdbcType=DECIMAL},
      </if>
      <if test="record.firstweight != null" >
        firstWeight = #{record.firstweight,jdbcType=INTEGER},
      </if>
      <if test="record.shippingmethodId != null" >
        shippingMethod_id = #{record.shippingmethodId,jdbcType=BIGINT},
      </if>
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update defaultfreightconfig
    set id = #{record.id,jdbcType=BIGINT},
      createdDate = #{record.createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{record.lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      continuePrice = #{record.continueprice,jdbcType=DECIMAL},
      continueWeight = #{record.continueweight,jdbcType=INTEGER},
      firstPrice = #{record.firstprice,jdbcType=DECIMAL},
      firstWeight = #{record.firstweight,jdbcType=INTEGER},
      shippingMethod_id = #{record.shippingmethodId,jdbcType=BIGINT},
      store_id = #{record.storeId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.LeXiang.pojo.Defaultfreightconfig" >
    update defaultfreightconfig
    <set >
      <if test="createddate != null" >
        createdDate = #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null" >
        lastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="continueprice != null" >
        continuePrice = #{continueprice,jdbcType=DECIMAL},
      </if>
      <if test="continueweight != null" >
        continueWeight = #{continueweight,jdbcType=INTEGER},
      </if>
      <if test="firstprice != null" >
        firstPrice = #{firstprice,jdbcType=DECIMAL},
      </if>
      <if test="firstweight != null" >
        firstWeight = #{firstweight,jdbcType=INTEGER},
      </if>
      <if test="shippingmethodId != null" >
        shippingMethod_id = #{shippingmethodId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.LeXiang.pojo.Defaultfreightconfig" >
    update defaultfreightconfig
    set createdDate = #{createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      continuePrice = #{continueprice,jdbcType=DECIMAL},
      continueWeight = #{continueweight,jdbcType=INTEGER},
      firstPrice = #{firstprice,jdbcType=DECIMAL},
      firstWeight = #{firstweight,jdbcType=INTEGER},
      shippingMethod_id = #{shippingmethodId,jdbcType=BIGINT},
      store_id = #{storeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>