<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.LeXiang.mapper.OrderitemMapper" >
  <resultMap id="BaseResultMap" type="com.LeXiang.pojo.Orderitem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="createdDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="lastModifiedDate" property="lastmodifieddate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="commissionTotals" property="commissiontotals" jdbcType="DECIMAL" />
    <result column="isDelivery" property="isdelivery" jdbcType="BIT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="returnedQuantity" property="returnedquantity" jdbcType="INTEGER" />
    <result column="shippedQuantity" property="shippedquantity" jdbcType="INTEGER" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="orders" property="orders" jdbcType="BIGINT" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.LeXiang.pojo.Orderitem" extends="BaseResultMap" >
    <result column="specifications" property="specifications" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, createdDate, lastModifiedDate, version, commissionTotals, isDelivery, name, price, 
    quantity, returnedQuantity, shippedQuantity, sn, thumbnail, type, weight, orders, 
    sku_id
  </sql>
  <sql id="Blob_Column_List" >
    specifications
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.LeXiang.pojo.OrderitemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.LeXiang.pojo.OrderitemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from orderitem
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.LeXiang.pojo.OrderitemExample" >
    delete from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.LeXiang.pojo.Orderitem" >
    insert into orderitem (id, createdDate, lastModifiedDate, 
      version, commissionTotals, isDelivery, 
      name, price, quantity, 
      returnedQuantity, shippedQuantity, sn, 
      thumbnail, type, weight, 
      orders, sku_id, specifications
      )
    values (#{id,jdbcType=BIGINT}, #{createddate,jdbcType=TIMESTAMP}, #{lastmodifieddate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{commissiontotals,jdbcType=DECIMAL}, #{isdelivery,jdbcType=BIT}, 
      #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, 
      #{returnedquantity,jdbcType=INTEGER}, #{shippedquantity,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, 
      #{thumbnail,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, 
      #{orders,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{specifications,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.LeXiang.pojo.Orderitem" >
    insert into orderitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createddate != null" >
        createdDate,
      </if>
      <if test="lastmodifieddate != null" >
        lastModifiedDate,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="commissiontotals != null" >
        commissionTotals,
      </if>
      <if test="isdelivery != null" >
        isDelivery,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="returnedquantity != null" >
        returnedQuantity,
      </if>
      <if test="shippedquantity != null" >
        shippedQuantity,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="specifications != null" >
        specifications,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createddate != null" >
        #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null" >
        #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="commissiontotals != null" >
        #{commissiontotals,jdbcType=DECIMAL},
      </if>
      <if test="isdelivery != null" >
        #{isdelivery,jdbcType=BIT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="returnedquantity != null" >
        #{returnedquantity,jdbcType=INTEGER},
      </if>
      <if test="shippedquantity != null" >
        #{shippedquantity,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.LeXiang.pojo.OrderitemExample" resultType="java.lang.Integer" >
    select count(*) from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderitem
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createddate != null" >
        createdDate = #{record.createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastmodifieddate != null" >
        lastModifiedDate = #{record.lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.commissiontotals != null" >
        commissionTotals = #{record.commissiontotals,jdbcType=DECIMAL},
      </if>
      <if test="record.isdelivery != null" >
        isDelivery = #{record.isdelivery,jdbcType=BIT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.returnedquantity != null" >
        returnedQuantity = #{record.returnedquantity,jdbcType=INTEGER},
      </if>
      <if test="record.shippedquantity != null" >
        shippedQuantity = #{record.shippedquantity,jdbcType=INTEGER},
      </if>
      <if test="record.sn != null" >
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbnail != null" >
        thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=BIGINT},
      </if>
      <if test="record.skuId != null" >
        sku_id = #{record.skuId,jdbcType=BIGINT},
      </if>
      <if test="record.specifications != null" >
        specifications = #{record.specifications,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update orderitem
    set id = #{record.id,jdbcType=BIGINT},
      createdDate = #{record.createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{record.lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      commissionTotals = #{record.commissiontotals,jdbcType=DECIMAL},
      isDelivery = #{record.isdelivery,jdbcType=BIT},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      quantity = #{record.quantity,jdbcType=INTEGER},
      returnedQuantity = #{record.returnedquantity,jdbcType=INTEGER},
      shippedQuantity = #{record.shippedquantity,jdbcType=INTEGER},
      sn = #{record.sn,jdbcType=VARCHAR},
      thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=INTEGER},
      orders = #{record.orders,jdbcType=BIGINT},
      sku_id = #{record.skuId,jdbcType=BIGINT},
      specifications = #{record.specifications,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderitem
    set id = #{record.id,jdbcType=BIGINT},
      createdDate = #{record.createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{record.lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      commissionTotals = #{record.commissiontotals,jdbcType=DECIMAL},
      isDelivery = #{record.isdelivery,jdbcType=BIT},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      quantity = #{record.quantity,jdbcType=INTEGER},
      returnedQuantity = #{record.returnedquantity,jdbcType=INTEGER},
      shippedQuantity = #{record.shippedquantity,jdbcType=INTEGER},
      sn = #{record.sn,jdbcType=VARCHAR},
      thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=INTEGER},
      orders = #{record.orders,jdbcType=BIGINT},
      sku_id = #{record.skuId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.LeXiang.pojo.Orderitem" >
    update orderitem
    <set >
      <if test="createddate != null" >
        createdDate = #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null" >
        lastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="commissiontotals != null" >
        commissionTotals = #{commissiontotals,jdbcType=DECIMAL},
      </if>
      <if test="isdelivery != null" >
        isDelivery = #{isdelivery,jdbcType=BIT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="returnedquantity != null" >
        returnedQuantity = #{returnedquantity,jdbcType=INTEGER},
      </if>
      <if test="shippedquantity != null" >
        shippedQuantity = #{shippedquantity,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="specifications != null" >
        specifications = #{specifications,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.LeXiang.pojo.Orderitem" >
    update orderitem
    set createdDate = #{createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      commissionTotals = #{commissiontotals,jdbcType=DECIMAL},
      isDelivery = #{isdelivery,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      returnedQuantity = #{returnedquantity,jdbcType=INTEGER},
      shippedQuantity = #{shippedquantity,jdbcType=INTEGER},
      sn = #{sn,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      orders = #{orders,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      specifications = #{specifications,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.LeXiang.pojo.Orderitem" >
    update orderitem
    set createdDate = #{createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      commissionTotals = #{commissiontotals,jdbcType=DECIMAL},
      isDelivery = #{isdelivery,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      returnedQuantity = #{returnedquantity,jdbcType=INTEGER},
      shippedQuantity = #{shippedquantity,jdbcType=INTEGER},
      sn = #{sn,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      orders = #{orders,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>