<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.LeXiang.mapper.PromotionMapper" >
  <resultMap id="BaseResultMap" type="com.LeXiang.pojo.Promotion" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="createdDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="lastModifiedDate" property="lastmodifieddate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="beginDate" property="begindate" jdbcType="TIMESTAMP" />
    <result column="conditionsAmount" property="conditionsamount" jdbcType="DECIMAL" />
    <result column="conditionsNumber" property="conditionsnumber" jdbcType="INTEGER" />
    <result column="creditAmount" property="creditamount" jdbcType="DECIMAL" />
    <result column="creditNumber" property="creditnumber" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
    <result column="endDate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="isCouponAllowed" property="iscouponallowed" jdbcType="BIT" />
    <result column="isEnabled" property="isenabled" jdbcType="BIT" />
    <result column="isFreeShipping" property="isfreeshipping" jdbcType="BIT" />
    <result column="maximumPrice" property="maximumprice" jdbcType="DECIMAL" />
    <result column="maximumQuantity" property="maximumquantity" jdbcType="INTEGER" />
    <result column="minimumPrice" property="minimumprice" jdbcType="DECIMAL" />
    <result column="minimumQuantity" property="minimumquantity" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="priceExpression" property="priceexpression" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.LeXiang.pojo.Promotion" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, createdDate, lastModifiedDate, version, orders, beginDate, conditionsAmount, 
    conditionsNumber, creditAmount, creditNumber, discount, endDate, image, isCouponAllowed, 
    isEnabled, isFreeShipping, maximumPrice, maximumQuantity, minimumPrice, minimumQuantity, 
    name, priceExpression, title, type, store_id
  </sql>
  <sql id="Blob_Column_List" >
    introduction
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.LeXiang.pojo.PromotionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from promotion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.LeXiang.pojo.PromotionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from promotion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from promotion
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from promotion
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.LeXiang.pojo.PromotionExample" >
    delete from promotion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.LeXiang.pojo.Promotion" >
    insert into promotion (id, createdDate, lastModifiedDate, 
      version, orders, beginDate, 
      conditionsAmount, conditionsNumber, creditAmount, 
      creditNumber, discount, endDate, 
      image, isCouponAllowed, isEnabled, 
      isFreeShipping, maximumPrice, maximumQuantity, 
      minimumPrice, minimumQuantity, name, 
      priceExpression, title, type, 
      store_id, introduction)
    values (#{id,jdbcType=BIGINT}, #{createddate,jdbcType=TIMESTAMP}, #{lastmodifieddate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{orders,jdbcType=INTEGER}, #{begindate,jdbcType=TIMESTAMP}, 
      #{conditionsamount,jdbcType=DECIMAL}, #{conditionsnumber,jdbcType=INTEGER}, #{creditamount,jdbcType=DECIMAL}, 
      #{creditnumber,jdbcType=INTEGER}, #{discount,jdbcType=DOUBLE}, #{enddate,jdbcType=TIMESTAMP}, 
      #{image,jdbcType=VARCHAR}, #{iscouponallowed,jdbcType=BIT}, #{isenabled,jdbcType=BIT}, 
      #{isfreeshipping,jdbcType=BIT}, #{maximumprice,jdbcType=DECIMAL}, #{maximumquantity,jdbcType=INTEGER}, 
      #{minimumprice,jdbcType=DECIMAL}, #{minimumquantity,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{priceexpression,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{storeId,jdbcType=BIGINT}, #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.LeXiang.pojo.Promotion" >
    insert into promotion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createddate != null" >
        createdDate,
      </if>
      <if test="lastmodifieddate != null" >
        lastModifiedDate,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="begindate != null" >
        beginDate,
      </if>
      <if test="conditionsamount != null" >
        conditionsAmount,
      </if>
      <if test="conditionsnumber != null" >
        conditionsNumber,
      </if>
      <if test="creditamount != null" >
        creditAmount,
      </if>
      <if test="creditnumber != null" >
        creditNumber,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="iscouponallowed != null" >
        isCouponAllowed,
      </if>
      <if test="isenabled != null" >
        isEnabled,
      </if>
      <if test="isfreeshipping != null" >
        isFreeShipping,
      </if>
      <if test="maximumprice != null" >
        maximumPrice,
      </if>
      <if test="maximumquantity != null" >
        maximumQuantity,
      </if>
      <if test="minimumprice != null" >
        minimumPrice,
      </if>
      <if test="minimumquantity != null" >
        minimumQuantity,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="priceexpression != null" >
        priceExpression,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createddate != null" >
        #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null" >
        #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="begindate != null" >
        #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="conditionsamount != null" >
        #{conditionsamount,jdbcType=DECIMAL},
      </if>
      <if test="conditionsnumber != null" >
        #{conditionsnumber,jdbcType=INTEGER},
      </if>
      <if test="creditamount != null" >
        #{creditamount,jdbcType=DECIMAL},
      </if>
      <if test="creditnumber != null" >
        #{creditnumber,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="iscouponallowed != null" >
        #{iscouponallowed,jdbcType=BIT},
      </if>
      <if test="isenabled != null" >
        #{isenabled,jdbcType=BIT},
      </if>
      <if test="isfreeshipping != null" >
        #{isfreeshipping,jdbcType=BIT},
      </if>
      <if test="maximumprice != null" >
        #{maximumprice,jdbcType=DECIMAL},
      </if>
      <if test="maximumquantity != null" >
        #{maximumquantity,jdbcType=INTEGER},
      </if>
      <if test="minimumprice != null" >
        #{minimumprice,jdbcType=DECIMAL},
      </if>
      <if test="minimumquantity != null" >
        #{minimumquantity,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="priceexpression != null" >
        #{priceexpression,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.LeXiang.pojo.PromotionExample" resultType="java.lang.Integer" >
    select count(*) from promotion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update promotion
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createddate != null" >
        createdDate = #{record.createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastmodifieddate != null" >
        lastModifiedDate = #{record.lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=INTEGER},
      </if>
      <if test="record.begindate != null" >
        beginDate = #{record.begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.conditionsamount != null" >
        conditionsAmount = #{record.conditionsamount,jdbcType=DECIMAL},
      </if>
      <if test="record.conditionsnumber != null" >
        conditionsNumber = #{record.conditionsnumber,jdbcType=INTEGER},
      </if>
      <if test="record.creditamount != null" >
        creditAmount = #{record.creditamount,jdbcType=DECIMAL},
      </if>
      <if test="record.creditnumber != null" >
        creditNumber = #{record.creditnumber,jdbcType=INTEGER},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=DOUBLE},
      </if>
      <if test="record.enddate != null" >
        endDate = #{record.enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.iscouponallowed != null" >
        isCouponAllowed = #{record.iscouponallowed,jdbcType=BIT},
      </if>
      <if test="record.isenabled != null" >
        isEnabled = #{record.isenabled,jdbcType=BIT},
      </if>
      <if test="record.isfreeshipping != null" >
        isFreeShipping = #{record.isfreeshipping,jdbcType=BIT},
      </if>
      <if test="record.maximumprice != null" >
        maximumPrice = #{record.maximumprice,jdbcType=DECIMAL},
      </if>
      <if test="record.maximumquantity != null" >
        maximumQuantity = #{record.maximumquantity,jdbcType=INTEGER},
      </if>
      <if test="record.minimumprice != null" >
        minimumPrice = #{record.minimumprice,jdbcType=DECIMAL},
      </if>
      <if test="record.minimumquantity != null" >
        minimumQuantity = #{record.minimumquantity,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.priceexpression != null" >
        priceExpression = #{record.priceexpression,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=BIGINT},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update promotion
    set id = #{record.id,jdbcType=BIGINT},
      createdDate = #{record.createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{record.lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      orders = #{record.orders,jdbcType=INTEGER},
      beginDate = #{record.begindate,jdbcType=TIMESTAMP},
      conditionsAmount = #{record.conditionsamount,jdbcType=DECIMAL},
      conditionsNumber = #{record.conditionsnumber,jdbcType=INTEGER},
      creditAmount = #{record.creditamount,jdbcType=DECIMAL},
      creditNumber = #{record.creditnumber,jdbcType=INTEGER},
      discount = #{record.discount,jdbcType=DOUBLE},
      endDate = #{record.enddate,jdbcType=TIMESTAMP},
      image = #{record.image,jdbcType=VARCHAR},
      isCouponAllowed = #{record.iscouponallowed,jdbcType=BIT},
      isEnabled = #{record.isenabled,jdbcType=BIT},
      isFreeShipping = #{record.isfreeshipping,jdbcType=BIT},
      maximumPrice = #{record.maximumprice,jdbcType=DECIMAL},
      maximumQuantity = #{record.maximumquantity,jdbcType=INTEGER},
      minimumPrice = #{record.minimumprice,jdbcType=DECIMAL},
      minimumQuantity = #{record.minimumquantity,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      priceExpression = #{record.priceexpression,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      store_id = #{record.storeId,jdbcType=BIGINT},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update promotion
    set id = #{record.id,jdbcType=BIGINT},
      createdDate = #{record.createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{record.lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      orders = #{record.orders,jdbcType=INTEGER},
      beginDate = #{record.begindate,jdbcType=TIMESTAMP},
      conditionsAmount = #{record.conditionsamount,jdbcType=DECIMAL},
      conditionsNumber = #{record.conditionsnumber,jdbcType=INTEGER},
      creditAmount = #{record.creditamount,jdbcType=DECIMAL},
      creditNumber = #{record.creditnumber,jdbcType=INTEGER},
      discount = #{record.discount,jdbcType=DOUBLE},
      endDate = #{record.enddate,jdbcType=TIMESTAMP},
      image = #{record.image,jdbcType=VARCHAR},
      isCouponAllowed = #{record.iscouponallowed,jdbcType=BIT},
      isEnabled = #{record.isenabled,jdbcType=BIT},
      isFreeShipping = #{record.isfreeshipping,jdbcType=BIT},
      maximumPrice = #{record.maximumprice,jdbcType=DECIMAL},
      maximumQuantity = #{record.maximumquantity,jdbcType=INTEGER},
      minimumPrice = #{record.minimumprice,jdbcType=DECIMAL},
      minimumQuantity = #{record.minimumquantity,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      priceExpression = #{record.priceexpression,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      store_id = #{record.storeId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.LeXiang.pojo.Promotion" >
    update promotion
    <set >
      <if test="createddate != null" >
        createdDate = #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null" >
        lastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="begindate != null" >
        beginDate = #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="conditionsamount != null" >
        conditionsAmount = #{conditionsamount,jdbcType=DECIMAL},
      </if>
      <if test="conditionsnumber != null" >
        conditionsNumber = #{conditionsnumber,jdbcType=INTEGER},
      </if>
      <if test="creditamount != null" >
        creditAmount = #{creditamount,jdbcType=DECIMAL},
      </if>
      <if test="creditnumber != null" >
        creditNumber = #{creditnumber,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="iscouponallowed != null" >
        isCouponAllowed = #{iscouponallowed,jdbcType=BIT},
      </if>
      <if test="isenabled != null" >
        isEnabled = #{isenabled,jdbcType=BIT},
      </if>
      <if test="isfreeshipping != null" >
        isFreeShipping = #{isfreeshipping,jdbcType=BIT},
      </if>
      <if test="maximumprice != null" >
        maximumPrice = #{maximumprice,jdbcType=DECIMAL},
      </if>
      <if test="maximumquantity != null" >
        maximumQuantity = #{maximumquantity,jdbcType=INTEGER},
      </if>
      <if test="minimumprice != null" >
        minimumPrice = #{minimumprice,jdbcType=DECIMAL},
      </if>
      <if test="minimumquantity != null" >
        minimumQuantity = #{minimumquantity,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="priceexpression != null" >
        priceExpression = #{priceexpression,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.LeXiang.pojo.Promotion" >
    update promotion
    set createdDate = #{createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      orders = #{orders,jdbcType=INTEGER},
      beginDate = #{begindate,jdbcType=TIMESTAMP},
      conditionsAmount = #{conditionsamount,jdbcType=DECIMAL},
      conditionsNumber = #{conditionsnumber,jdbcType=INTEGER},
      creditAmount = #{creditamount,jdbcType=DECIMAL},
      creditNumber = #{creditnumber,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DOUBLE},
      endDate = #{enddate,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR},
      isCouponAllowed = #{iscouponallowed,jdbcType=BIT},
      isEnabled = #{isenabled,jdbcType=BIT},
      isFreeShipping = #{isfreeshipping,jdbcType=BIT},
      maximumPrice = #{maximumprice,jdbcType=DECIMAL},
      maximumQuantity = #{maximumquantity,jdbcType=INTEGER},
      minimumPrice = #{minimumprice,jdbcType=DECIMAL},
      minimumQuantity = #{minimumquantity,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      priceExpression = #{priceexpression,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=BIGINT},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.LeXiang.pojo.Promotion" >
    update promotion
    set createdDate = #{createddate,jdbcType=TIMESTAMP},
      lastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      orders = #{orders,jdbcType=INTEGER},
      beginDate = #{begindate,jdbcType=TIMESTAMP},
      conditionsAmount = #{conditionsamount,jdbcType=DECIMAL},
      conditionsNumber = #{conditionsnumber,jdbcType=INTEGER},
      creditAmount = #{creditamount,jdbcType=DECIMAL},
      creditNumber = #{creditnumber,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DOUBLE},
      endDate = #{enddate,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR},
      isCouponAllowed = #{iscouponallowed,jdbcType=BIT},
      isEnabled = #{isenabled,jdbcType=BIT},
      isFreeShipping = #{isfreeshipping,jdbcType=BIT},
      maximumPrice = #{maximumprice,jdbcType=DECIMAL},
      maximumQuantity = #{maximumquantity,jdbcType=INTEGER},
      minimumPrice = #{minimumprice,jdbcType=DECIMAL},
      minimumQuantity = #{minimumquantity,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      priceExpression = #{priceexpression,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>