
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>添加友情链接 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/admin/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.validate.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/webuploader.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/common.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/input.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <script type="text/javascript">
        $().ready(function() {

            var $inputForm = $("#inputForm");
            var $type = $("#type");
            var $logo = $("#logo");
            var $filePicker = $("#filePicker");


            $filePicker.uploader();

            $type.change(function() {
                if ($(this).val() == "text") {
                    $logo.prop("disabled", true).closest("tr").hide();
                } else {
                    $logo.prop("disabled", false).closest("tr").show();
                }
            });

            // 表单验证
            $inputForm.validate({
                rules: {
                    name: "required",
                    logo: {
                        required: true,
                        pattern: /^(http:\/\/|https:\/\/|\/).*$/i
                    },
                    url: {
                        required: true,
                        pattern: /^(http:\/\/|https:\/\/|ftp:\/\/|mailto:|\/|#).*$/i
                    },
                    order: "digits"
                }
            });

        });
    </script>
</head>
<body>
<div class="breadcrumb">
    <a href="../../admin/common/index">首页</a> &raquo; 添加友情链接
</div>
<form id="inputForm"  method="post">
    <table class="input">
        <tr>
            <th>
                <span class="requiredField">*</span>名称:
            </th>
            <td>
                <input type="text" name="name" v-model="friendLink.name" class="text" maxlength="200" />
            </td>
        </tr>
        <tr>
            <th>
                类型:
            </th>
            <td>
                <select id="type" name="type" v-model="friendLink.type">
                    <option value="">请选择</option>
                    <option value="1">文本</option>
                </select>
            </td>
        </tr>
        <tr class="hidden">
            <th>
                logo:
            </th>
            <td>
					<span class="fieldSet">
						<input type="text" id="logo" name="logo" v-model="friendLink.logo" class="text" maxlength="200" disabled="disabled" />
					</span>
            </td>
        </tr>
        <tr>
            <th>
                <span class="requiredField">*</span>链接地址:
            </th>
            <td>
                <input type="text" name="url" v-model="friendLink.url" class="text" maxlength="200" />
            </td>
        </tr>
        <tr>
            <th>
                排序:
            </th>
            <td>
                <input type="text" name="orders" class="text" v-model="friendLink.orders" maxlength="9" />
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input class="button" @click="saveFriendLink()" value="确 定" />
                <input type="button" class="button" value="返 回" onclick="history.back(); return false;" />
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    addVue = new Vue({
        el:"#inputForm",
        data:{
            friendLink:{
                name:'',
                type:'',
                logo:'',
                url:'',
                orders:''
            }
        }
    })
    saveFriendLink = function () {
        $.ajax({
            url:'../../friendLink/saveFriendLink.do',
            data:addVue.friendLink,
            type:'post',
            dataType:'json',
            success:function (data) {
                alert(data.message);
                location.href = "list.html"
            },
            error:function () {
                alert("新增失败")
            }
        })
    }
</script>
</body>
</html>