
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>会员等级列表 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/admin/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/common.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/list.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
</head>
<body>
<div class="breadcrumb">
    会员等级列表 <span>(共4条记录)</span>
</div>
<form id="listForm"  method="post">
    <div class="bar">
        <a href="add.html" class="iconButton">
            <span class="addIcon" >&nbsp;</span>添加
        </a>
        <div class="buttonGroup">
            <a @click="delMemberRank()"  class="iconButton">
                <span class="deleteIcon" >&nbsp;</span>删除
            </a>
            <a href="javascript:;" onclick="refreshPage()" id="refreshButton" class="iconButton">
                <span class="refreshIcon">&nbsp;</span>刷新
            </a>

            <a  @click="OutputExce()" class="iconButton">
                <span class="upIcon" >&nbsp;</span>导出Excel表
            </a>
            <a href="echarts.html" class="iconButton">
                <span class="upIcon">&nbsp;</span>消费统计
            </a>
            <div class="iconButton">
                <a  class="button">
                    名称搜索:<span class="arrow">&nbsp;</span>
                </a>
            </div>

        </div>
        <div id="searchPropertyMenu" class="dropdownMenu">
            <div class="search">
                <span class="arrow">&nbsp;</span>
                <input type="text"  id="searchValue" name="name" value="" maxlength="200" />
                <button  onclick="searchMemberRank()" type="button">&nbsp;</button>
            </div>
        </div>
    </div>
    <table id="listTable" class="list">
        <tr>
            <th class="check">
                <input type="checkbox" id="selectAll" />
            </th>
            <th>
                <a href="javascript:;" class="sort" name="name">名称</a>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="scale">优惠比例</a>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="amount">消费金额</a>
            </th>
            <th>
                <a href="javascript:;" class="sort" name="isDefault">是否默认</a>
            </th>
            <th>
                <span>操作</span>
            </th>
        </tr>
        <tr v-for="e in memberrank">
            <td>
                <input type="checkbox" name="ids" v-model="ids" :value="e.id" />
            </td>
            <td>
                {{e.name}}
            </td>
            <td>
                {{e.scale}}
            </td>
            <td>
                {{e.amount}}
            </td>
            <td>
                {{e.isdefault==1? "是":"否"}}
            </td>
            <td>
                <a @click="edit(e.id)">[编辑]</a>
            </td>
        </tr>
    </table>
    <input type="hidden" id="pageSize" name="pageSize" value="20" />
    <input type="hidden" id="searchProperty" name="searchProperty" value="" />
    <input type="hidden" id="orderProperty" name="orderProperty" value="" />
    <input type="hidden" id="orderDirection" name="orderDirection" value="" />
</form>
<script type="text/javascript">

        var vm;
    $.post("../../member/findMemberRank.do",{page:1,rows:20},function (data) {
        vm = new Vue({
            el:"#listForm",
            data:{
                memberrank:data.rows,
                ids:[]
            }
        })
    })
    searchMemberRank = function () {
        $.post("../../member/findMemberRank.do",{page:1,rows:20,name:$("#searchValue").val()},function (data) {
            vm.memberrank=data.rows;
        })
    }

    delMemberRank = function () {
        var ids = vm.ids.join(",");
        if ( ids!= null && ids!="") {
            $.post("../../member/delMembeRank.do",{ids:vm.ids.join(",")},function (data) {
                alert(data.message)
                location.href=location;
            })
        }else {
            alert("请选择要删除的数据！！")
        }

    }
    edit = function (id) {
        location.href = "edit.html?id="+id;
    }




        function uploadFile() {
            var file = $("#upload").val();
            file = file.substring(file.lastIndexOf('.'), file.length);
            if (file == '') {
                alert("上传文件不能为空！");
            } else if (file != '.xlsx' && file != '.xls') {
                alert("请选择正确的excel类型文件！");
            } else {
                ajaxFileUpload();
            }
        }
        function ajaxFileUpload() {

            var formData = new FormData();
            var name = $("#upload").val();
            formData.append("file", $("#upload")[0].files[0]);
            formData.append("name", name);
            $.ajax({
                url : "member/InputExcel.do",
                type : "POST",
                async : false,
                data : formData,
                processData : false,
                contentType : false,
                beforeSend : function() {
                    console.log("正在进行，请稍候");
                },
                success : function(e) {
                    alert(e.message)
                }
            });
        }

        function OutputExce() {
            location.href = "../../member/exportContentList.do";
        }
        function refreshPage() {
            location.href=location;
        }

</script>
</body>
</html>